<h1>Icons list</h1>
<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="filter" aria-label="filter" [(ngModel)]="filter" (ngModelChange)="onFilterChange()">
  </div>
<section class="icons">
  <ng-container *ngFor="let icon of icons">
    <a class="icon btn btn-primary" [routerLink]="name" role="button" *ngFor="let name of icon.names; let i = index" [attr.data-index]="i">
      <i class="seb-icon" [ngClass]="'seb-icon-' + name"></i>
      <span>{{name}}</span>
      <span>(alias)</span>
    </a>
  </ng-container>
</section>