<h1>{{icon}}</h1>
<section>
  <div class="form-check" *ngFor="let weightObj of fontWeights">
    <input class="form-check-input" type="radio" name="fontWeight" [id]="weightObj.name" [value]="weightObj.type" [(ngModel)]="fontWeight">
    <label class="form-check-label" [for]="weightObj.name">
      {{weightObj.name}}
    </label>
  </div>
</section>
<section>
  <ul class="list-inline">
    <li *ngFor="let iconSize of iconSizes;" class="list-inline-item">
      <i [class]="fontWeight + ' ' + icon + ' ' + iconSize"></i>
    </li>
  </ul>
</section>