app-icon-preview {

  .seb-size-1x {
    font-size: 1em;
  }

  .seb-size-2x {
    font-size: 2em;
  }

  .seb-size-4x {
    font-size: 4em;
  }

  .seb-size-3x {
    font-size: 3em;
  }

  .seb-size-5x {
    font-size: 5em;
  }

  .seb-size-6x {
    font-size: 6em;
  }

}