<h1>Seb icon {{icon}}</h1>
<section>
  <div class="form-check" *ngFor="let weightObj of fontWeights">
    <label class="form-check-label">
      <input class="form-check-input" type="radio" name="fontWeight" [value]="weightObj.type" [(ngModel)]="fontWeight">
      {{weightObj.name}}
    </label>
  </div>
</section>
<section>
  <ul class="list-inline">
    <li *ngFor="let iconSize of iconSizes;" class="list-inline-item">
      <i [ngClass]="[fontWeight, 'seb-icon-' + icon, iconSize]"></i>
    </li>
  </ul>
</section>
<section>
  <div class="bd-clipboard">
    <button class="btn-clipboard" title="Copy to clipboard" (click)="copyIconCode()"> Copy</button>
  </div>
  <div class="highlight">
    <pre><code #code>&lt;i class="{{fontWeight}} seb-icon-{{icon}}"&gt;&lt;/i&gt;</code></pre>
  </div>
</section>