<h1>{{icon}}</h1>
<section>
  <div class="form-check" *ngFor="let weight of fontWeights">
    <input class="form-check-input" type="radio" name="fontWeight" [id]="weight" [value]="weight" [(ngModel)]="fontWeight">
    <label class="form-check-label" [for]="weight">
      Default radio
    </label>
  </div>
</section>
<section>
  <ul class="list-inline">
    <li *ngFor="let iconSize of iconSizes;" class="list-inline-item">
      <i [class]="fontWeight + ' ' + icon + ' ' + iconSize"></i>
    </li>
  </ul>
</section>