app-icon-preview {
  background-color: cadetblue;
  
  .seb-size-xs {
    font-size: 0.75em;
  }

  .seb-size-sm {
    font-size: 0.875em;
  }

  .seb-size-lg {
    vertical-align: -25%;
    font-size: 1.33em;
  }

  .seb-size-2x {
    font-size: 2em;
  }

  .seb-size-3x {
    font-size: 3em;
  }

  .seb-size-5x {
    font-size: 5em;
  }
}