@font-face {
    font-family: 'seb-pictograms';
    src: url('fonts/seb-pictograms.eot?a7zwa4');
    src: url('fonts/seb-pictograms.eot?a7zwa4#iefix') format('embedded-opentype'),
         url('fonts/seb-pictograms.ttf?a7zwa4') format('truetype'),
         url('fonts/seb-pictograms.woff?a7zwa4') format('woff'),
         url('fonts/seb-pictograms.svg?a7zwa4#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'seb-light-pictograms';
    src: url('fonts/seb-light-pictograms.eot?a7zwa4');
    src: url('fonts/seb-light-pictograms.eot?a7zwa4#iefix') format('embedded-opentype'),
         url('fonts/seb-light-pictograms.ttf?a7zwa4') format('truetype'),
         url('fonts/seb-light-pictograms.woff?a7zwa4') format('woff'),
         url('fonts/seb-light-pictograms.svg?a7zwa4#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.seb-light-pictogram,
.seb-pictogram {
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.seb-light-pictogram {
    font-family: 'seb-light-pictograms' !important;
}

.seb-pictogram {
    font-family: 'seb-pictograms' !important;
}

@import 'data';

@each $item in $data {
    @each $name in map-get($item, names) {
        .seb-pictogram-#{$name}:before {
            content: #{'"\\' + map-get($item, code) + '"'};
        }
    }
}